# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# custom
.DS_Store
dist/
*.log
config.prod.toml
tmp/

x-stock
*.tar.gz

statics/js/app.min.*.js
fund_all_list.json
fund_4433_list.json
fund_type_list.json
industry_list.json
