{{ template "header" . }}
<div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3022214826355647"
        crossorigin="anonymous"></script>
    <!-- investool资料页面顶部广告 -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3022214826355647"
        data-ad-slot="3924733374"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div class="_get2gvw6r3"></div>
<script type="text/javascript">
    (window.slotbydup = window.slotbydup || []).push({
        id: "u6682254",
        container: "_get2gvw6r3",
        async: true
    });
</script>

{{ range $TypedMaterialSeries := .AllMaterialsList }}
<div class="section">
{{ range $TypeName, $MaterialSeriesList := $TypedMaterialSeries }}
    <h3 class="header">{{ $TypeName }}</h3>
    <div>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3022214826355647"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-fb+5w+4e-db+86"
            data-ad-client="ca-pub-3022214826355647"
            data-ad-slot="8490125346"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <ul class="collapsible">
    {{ range $i, $MaterialSeries := $MaterialSeriesList }}
        <li {{ if eq $i 0 }}class="active"{{ end }}>
            {{ range $SeriesName, $MaterialItemList := $MaterialSeries }}
                <div class="collapsible-header" id="{{ $SeriesName }}">{{ $SeriesName }}</div>
                <div class="collapsible-body collection">
                {{ range $MaterialItem := $MaterialItemList }}
                    <div class="collection-item">
                        <p><a href="{{ $MaterialItem.DownloadURL }}" target="_blank">{{ $MaterialItem.Name }}</a></p>
                        <p>{{ $MaterialItem.Desc }}</p>
                    </div>
                {{ end }}
                </div>
            {{ end }}
        </li>
    {{ end }}
    </ul>
    <div class="_yf526959pt8"></div>
    <script type="text/javascript">
        (window.slotbydup = window.slotbydup || []).push({
            id: "u6682250",
            container: "_yf526959pt8",
            async: true
        });
    </script>
{{ end }}
</div>
{{ end }}
{{ template "footer" . }}
